/* Common */
.sub-title {
  padding: 10px;
  background-color: #ccc;
  color: white;
  text-transform: uppercase;
}
/* Header */
.logo {
  width: 150px;
}
/* Begin Structure */
.main {
}
/* Sidebar */
.sidebar {
}
.sidebar .widget {
  border: 1px solid #ccc;
}
.sidebar .widget + .widget {
  margin-top: 15px;
}
.sidebar .widget .outer {
  padding: 10px;
}
/* Footer */
footer {
  padding: 10px;
}
/* End Structure */

/* Post */
.sidebar .post + .post {
  margin-top: 10px;
}
.post .thumbnail {
  float: left;
  padding-right: 10px;
}
.sidebar .post .thumbnail {
  width: 85px;
  padding-right: 5px;
}
.post .content {
  overflow: hidden;
}
.post .title {
  padding-bottom: 2px;
  font-size: 1.071rem;
}
.post .desc {
  font-size: 12px;
}
