/* Common */
.main-container > .inner > .container,
.footer > .inner > .container {
  position: relative;
  background-color: white;
}
.sub-title {
  padding: 10px;
  background-color: #333;
  color: white;
  text-transform: uppercase;
  transition: all .3s ease;
}
.widget:hover .sub-title {
  background-color: black;
}
.widget-item-control {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* Header */

/* Begin Structure */
.main {
}
/* Sidebar */
.sidebar {
}
.sidebar .widget {
  position: relative;
  border: 1px solid #ccc;
}
.sidebar .widget + .widget {
  margin-top: 15px;
}
.sidebar .widget .outer {
  position: relative;
  padding: 10px;
}
/* Footer */
footer {
  padding: 10px;
}
/* End Structure */

/* Post */
.post {
  position: relative;
  overflow: hidden;
}
.post:hover .content {
  transform: translateY(0);
}
.post:hover .thumbnail img {
  opacity: .5;
}
.post:hover .title {
  background-color: transparent;
  transform: translateY(0);
}
.post:hover .desc {
  transform: translateX(0);
}
.post + .post {
  margin-top: 10px;
}
.post .thumbnail img {
  opacity: 1;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.post .thumbnail a {
  display: block;
}
.post .content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,.7);
  transform: translateY(100%);
  transition: all .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.post .title {
  padding: 10px;
  font-size: 1.143rem;
  text-transform: uppercase;
  background-color: rgba(255,255,255,.7);
  transform: translateY(-100%);
  transition: all .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.post .title a {
  display: block;
}
.post .desc {
  font-size: 0.929rem;
  padding: 0 10px 10px;
  transform: translateX(-100%);
  transition: all .3s .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
/* Category Sidebar */
.links li {
  padding-top: 5px;
  margin-top: 5px;
}
.links li + li {
  border-top: 1px dashed #ccc;
}
.links a {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.links a:before {
  color: red;
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
  font-weight: bold;
}
.links a:hover:before {
  -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  opacity: 1;
}
.links span {
  font-size: 0.857rem;
  color: #505050;
}
@media (min-width: 768px) {
  /* Header */
  .cHeader {
    position: relative;
  }
  .cHeader .container {
    background-color: white;
  }
  .logo {
    width: 110px;
    margin: -90px auto 0;
  }
  .logo a {
    display: block;
    padding: 5px;
    background: #f7f7f7;
    border-radius: 50%;
  }
  .navigation {
    position: relative;
    background-color: white;
    border-top: 1px solid #dadada;
    border-bottom: 4px double #dadada;
  }
  .navigation .widget {
    margin-top: 1px;
    margin-bottom: 1px;
    border-top: 1px dashed #dadada;
    border-bottom: 1px dashed #dadada;
  }
  .nav-wrapper {
    display: table;
    width: 100%;
  }
  .nav-wrapper .frmSearch {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
  }
  .nav {
    display: table-cell;
    height: 50px;
    vertical-align: middle;
  }
  .nav li {
    float: left;
  }
  .nav a {
    padding: 0 10px;
    color: #4f4f4d;
    font-weight: bold;
  }
  .nav a:hover {
    color: black;
  }
  .topbar {
    background-color: white;
    color: black;
  }
  .socials li {
    display: inline-block;
  }
  .socials a {
    display: block;
    padding: 8px 10px;
    font-size: 1.143rem;
    color: black;
  }
  .socials a i + i {
    display: none;
  }
  .socials a:hover i {
    display: none;
  }
  .socials a:hover i + i {
    display: block;
    transform: scale(1.6);
  }
}
