/* Header */
.logo {
  width: 150px;
}
/* Begin Structure */
main {
  margin: 5px 0;
  padding: 10px;
  min-height: 1000px;
}
footer {
  padding: 10px;
}
/* End Structure */
/* Block */
/* End Block */
/* Begin Text Editor */
/* End Text Editor */
